.form-group {
    margin-bottom: 0; 
}

.search-btn {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.logo {
    color: white; 
}

.navbar-brand {
    padding-top: 0; 
    padding-bottom: 0; 
}

.header-container {
    background-color: black;
    height: 55px;
}